* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Indie Flower", cursive;
  text-align: center;
}

main {
  background: #3333;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.to-do-card {
  background: linear-gradient(45deg, #f37e60, #f0832acb);
  width: 500px;
  min-height: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(#333, 0.8);
  position: relative;
  font-size: 1.5em;
}

input[type="text"] {
  width: 300px;
  height: 50px;
  padding: 5px;
  font-family: "Indie Flower", cursive;
  font-size: 1em;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
}
h5 {
  margin-top: 20px;
}
ul {
  list-style: none;
  text-align: left;
  position: relative;
  margin: 10px;
  padding: 10px;

  li {
    position: relative;
    width: 100%;
    height: auto;
    button {
      float: right;
      height: 20px;
      width: 20px;
      color: #333;
      border-radius: 50%;
      border: none;
      background: transparent;
      &:hover {
        color: white;
        background-color: rgb(248, 68, 68);
      }
    }
  }
}
